/* VARIABLE DEFINITIONS: Variables have to be adjusted */
* {
    -fx-primary-color: #222;               /* Change according to your needs */
    -fx-secondary-color: #F0F0F0;             /* Change according to your needs */
    -fx-font-color: #111111;                  /* Change according to your needs */
    -fx-font-color-highlighted: #F0F0F0;      /* Change according to your needs */
    -fx-pompt-text-color: #808080; /* Change according to your needs */
    -fx-button-color: #FF7835;                /* Change according to your needs */
    -fx-root-color: -fx-button-color;           /* Change according to your needs */
}


/*
 *	Apply google Roboto font to all UI components
 */

.root {
    -fx-accent: -fx-root-color;
    -fx-focus-color: -fx-root-color;
    -fx-font-family: "Roboto";
    -fx-font-smoothing-type: gray;
}

.side-menu {
    -fx-padding: 20.0, 10.0;
    -fx-font-size: 15.0;
    -fx-font-weight: NORMAL;
    -fx-text-fill: #444;
}

.title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0px;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.radio-button-title-label {
    -fx-font-size: 16.0px;
    -fx-padding: 14.0 0.0 -20.0 0.0;
    -fx-text-fill: rgba(0.0, 0.0, 0.0, 0.87);
}

.scroll-bar:vertical {
	-fx-background-color: -fx-primary-color;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: -fx-button-color;
}

.menu-bar {
	-fx-background-color: derive(-fx-primary-color, 50%);
}

.context-menu {
	-fx-background-color: derive(-fx-primary-color, 50%);
}

.arrow {
	-fx-background-color: -fx-primary-color;
}

.check-menu-item {
    -fx-mark-color: -fx-primary-color;
}

/*******************************************************************************
*                                                                              *
* JFX Dialog                                                                   *
*                                                                              *
*******************************************************************************/

.jfx-dialog-overlay-pane > StackPane {
    -fx-background-color: -fx-primary-color;
}

.jfx-dialog {
    -fx-background-color: rgba(17, 17, 17, 0.75);
}


/*******************************************************************************
*                                                                              *
* JFX Decorator                                                                *
*                                                                              *
*******************************************************************************/

.jfx-decorator .jfx-decorator-buttons-container {
    -fx-background-color: -fx-primary-color;
}

.jfx-decorator .resize-border {
    -fx-border-color: -fx-primary-color;
    -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
    -fx-fill: -fx-secondary-color;
    -fx-font-size: 16;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
    -fx-shape: "M512 682c-128.024-99.309-255.626-199.040-384-298l384-298 384 298c-128.375 98.958-255.974 198.693-384 298zM512 792l314-246 70 54-384 298-384-298 70-54z";
    -jfx-size: 15;
    -fx-background-color: -fx-secondary-color;
}

VBox {
	-fx-background-color: -fx-primary-color;
}

/*
* === Label color ===
*/
.label {
    -fx-font-size: 12;
    -fx-text-fill: -fx-font-color-highlighted;
}


/*
* === List View color ===
*/

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: -fx-font-color;
}

.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: -fx-primary-color;
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
    -fx-text-fill: -fx-font-color;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: -fx-font-color-highlighted;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: -fx-button-color;
}

.jfx-list-view {
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
    -fx-selection-bar: -fx-primary-color;
    -fx-selection-bar-non-focused: -fx-primary-color;
    -fx-background-color: derive(-fx-primary-color, 50%);
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10.0;
    -jfx-expanded: false;
}

/*******************************************************************************
*                                                                              *
* JFX Textfield                                                                *
*                                                                              *
*******************************************************************************/

.text-field:focused {
    -fx-background-color:  derive(-fx-primary-color, 50%);
    -fx-faint-focus-color:  transparent;
    -fx-focus-color:  -fx-secondary-color;
    -fx-text-fill:  -fx-secondary-color;
    -fx-prompt-text-fill:  -fx-pompt-text-color;
    -fx-border-color: -fx-button-color;
    -fx-background-radius: 5, 5;
    -fx-border-radius: 5, 5;
}

.jfx-text-area .viewport {
    -fx-background-color: derive(-fx-primary-color, 50%);
}

/*
* === Text Input Color ===
*/
.text-field {
    -fx-background-color:  derive(-fx-primary-color, 50%);
    -fx-faint-focus-color:  transparent;
    -fx-focus-color:  -fx-secondary-color;
    -fx-text-fill:  -fx-secondary-color;
    -fx-prompt-text-fill:  -fx-pompt-text-color;
    -fx-border-color: -fx-primary-color;
    -fx-background-radius: 5, 5;
    -fx-border-radius: 5, 5;
}


/*
* === Combo Box ===
*/

.combo-box {
	-fx-alignment: center;
	-fx-font-weight: BOLD;
    -fx-prompt-text-fill:  white;
	-fx-background-color:  derive(-fx-primary-color, 50%);
	-jfx-focus-color: -fx-button-color;
    -jfx-unfocus-color: derive(-fx-button-color, 10%);
}

.combo-box-popup .list-view .list-cell 
{
	-fx-text-fill:  white;
	-fx-font-weight: BOLD;
	-fx-background-color:  derive(-fx-primary-color, 50%);
}  

.combo-box-popup .list-view .list-cell:selected {
	-fx-text-fill: white;
}

/*******************************************************************************
*                                                                              *
* JFX Button                                                                   *
*                                                                              *
*******************************************************************************/
/*
* === Button color color ===
*/
.button {
    -fx-text-fill: -fx-font-color-highlighted;
    -fx-background-color: -fx-button-color;
}

.jfx-decorator-button {
  -fx-text-fill: -fx-font-color-highlighted;
  -fx-background-color: -fx-primary-color;
}
